definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: smoothies_streamlit_app.py
    artifacts:
      - pyproject.toml
      - smoothies_streamlit_app.py
      - .streamlit/config.toml
